
h1{background-color: rgb(129, 147, 201);}
h1{text-align: center;}
h1{font-family: cursive}
h2{color :rosybrown}
h2{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
.subtitulo{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
h3{color :palegreen}
h3{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
h4{color :teal}
#imagen{float: right;}
